[submodule "nvim"]
	path = nvim
	url = https://github.com/spacerio/nvim
[submodule "nixos"]
	path = nixos
	url = https://github.com/spacerio/nixos.git
[submodule "tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-thumbs"]
	path = tmux/plugins/tmux-thumbs
	url = https://github.com/tmux-plugins/tmux-thumbs
[submodule "tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
